
.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  text-align: center;
  height: 100dvh;
  min-height: 500px;
  
  .profilePicture {
      margin-top: 2rem;
      width: 12rem;
      height: 12rem;
  }

  span {
      display: flex;
      gap: 2rem;
      justify-content: center;
      a {
          img{
              width: 4rem;
              height: 4rem;
          }
      }
  }

  button {
      /* margin-top: 10px; */
      background-color: #a52a2a;
      color: white;
      border: none;
      border-radius: 4rem;
      height: 2rem;
      width: 7rem;
      
      font-size: 1.2rem;
      font-family: Courier;

      /* font-weight: bold; */
      box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
      transition: box-shadow 200ms ease-in-out, transform 200ms ease-in-out;
  }

  button:hover {
      transform: scale(1.05);
      cursor: pointer;
  }

  button:active {
      transform: translateY(2px);
      box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
  }
}  
.description {
  max-width: 45ch;
  margin-left: auto;
  margin-right: auto;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}


@media (width >= 800px) {
    .container {
      flex-direction: row-reverse;
      align-items: center;
      justify-content: space-evenly;
  
      .profilePicture {
        max-width: 350px;
        width: 350px;
      }
    }
  }
  
@media (width >= 1400px) {
    .container {
      .profilePicture {
        max-width: 400px;
        width: 400px;
      }
    }
}