.container {
    display: flex;
    flex-direction: column;
    text-align: center;
    /* height: 100dvh; */
    margin-bottom: 10dvh;
  
    img {
      width: 50%;
      align-self: center;
      background-color: var(--background-color);
      border-radius: 40px;
    }
  
    a {
      width: fit-content;
      text-decoration: none;
      color: #222;
      transition: transform 200ms ease-in-out;
    }
  
    a:hover {
      transform: scale(1.05);
    }
  }

.projectsContainer {
    display: flex;
    flex-direction: column;
    grid-template-columns: repeat(2, 1fr); 
    gap: 20px; 

    div {
      /* border: 1px solid #ddd;  */
      display: flex;
      /* justify-content: space-between; */
      /* align-items: right; */
      p{
        display: flex;
        justify-content: center;
        align-items: center; 
        color: var(--secondary-color);
      }
    }

  }
  

@media (width >= 800px) {
    .projectsContainer {
      display: grid;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-evenly;
      padding: 0 30px;
    }
    
  }