.container {
    display: flex;
    flex-direction: column;
    text-align: center;
  
    img {
      width: 30%;
      align-self: center;
      background-color: #fff;
      border-radius: 20px;
    }
  
    a {
      width: fit-content;
      text-decoration: none;
      color: #222;
      transition: transform 200ms ease-in-out;
    }
  
    a:hover {
      transform: scale(1.05);
    }
  }

.ProjectsContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 20px; 

    div {
      /* border: 1px solid #ddd;  */
      display: flex;
      /* justify-content: space-between; */
      align-items: right;
      p{
        display: flex;
        justify-content: center;
        align-items: center; 
        color: #a52a2a;
        /* height: 100vh; */
      }
      /* a{
        display: flex;
        flex-direction: column;
        text-align: center;
      } */

    }
    

  }
  

@media (width >= 800px) {
    .projectsContainer {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-evenly;
      padding: 0 30px;
    }
  }