.container {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;

  /* width: 197dvh; */
  height: 15dvh;
  /* padding-top: 5dvh; */


  /* word-spacing: 30px; */
  border: 1px solid var(--secondary-color);
  background-color: var(--secondary-color);
  color: var(--background-color);

  span{
      color: var(--background-color);
      font-size: 5dvh;
      font-family: monospace;
      text-transform: uppercase;
      margin: 3rem;
      transition: 0.15s;
    }

  span:hover {
      transform: scale(1.05);
      color: var(--text-color);
      cursor: pointer;
  }

}