.container {
    /* text-transform: capitalize;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 3vmin);
    color: #a52a2a;
    word-spacing: 10vmin; */
    
    span:hover {
        transform: scale(1.05);
        cursor: pointer;
    }
  }